# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.m5
node_modules
dist
dist-ssr
*.local
__pycache__
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.venv/*
.env
.env.*.local
*.env
# MacOS
.DS_Store
*.lock
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 
*.pyc
*.pyo
*.pyd
env/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pyre/
.pytype/
.mypy_cache/
.dmypy.json
.pytest_cache/
.pyre/
.pytype/
.mypy_cache/
.dmypy.json
.pytest_cache/
